<h5>
	Producers with longest and shortest interval between wins
</h5>

<h4>
	Maximum
</h4>

<div class="table-responsive" *ngIf="value | async as value">
    <table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Producer</th>
				<th scope="col">Interval</th>
				<th scope="col">Previous Year</th>
				<th scope="col">Following Year</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor [ngForOf]="value.max" let-data >
				<tr>
					<td>
						{{ data.producer }}
					</td>
					<td>
						{{ data.interval }}
					</td>
					<td>
						{{ data.previousWin }}
					</td>
					<td>
						{{ data.followingWin }}
					</td>
				</tr>
			</ng-template>
		</tbody>
    </table>
</div>

<br>

<h4>
	Minimum
</h4>

<div class="table-responsive" *ngIf="value | async as value">
    <table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">Producer</th>
				<th scope="col">Interval</th>
				<th scope="col">Previous Year</th>
				<th scope="col">Following Year</th>
			</tr>
		</thead>
		<tbody>
			<ng-template ngFor [ngForOf]="value.min" let-data >
				<tr>
					<td>
						{{ data.producer }}
					</td>
					<td>
						{{ data.interval }}
					</td>
					<td>
						{{ data.previousWin }}
					</td>
					<td>
						{{ data.followingWin }}
					</td>
				</tr>
			</ng-template>
		</tbody>
    </table>
</div>

