
:root {
	--color: #646464;
	--color-light: #89908f;
	--color-darken: #646464;
	--color-text: #ffffff;
	--color-text-light: #52c7b8;
	--color-text-darken: #00675b;
}

body{
	margin: 0;
	padding: 0;
}

@import "scss/variables.scss";

.table{
	margin-bottom: 0 !important;
}

.table > :not(caption) > * > * {
    box-shadow: inset 0 0 0 9999px transparent !important;
}

.table > :not(:first-child) {
    border-top: none !important;
}

.table > thead {
	background-color: #f3f3f3 !important;
}

.table > tfoot {
	background-color: #f3f3f3 !important;
}

.table-striped > tbody > tr > td, .table-striped > tbody > tr > th {
	background-color: #f3f3f3 !important;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
	background-color: #ffffff!important
}

